<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{title}} - The Red Alliance</title>
    {% else %}
    <title>The Red Alliance</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animate/animate.min.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar is-danger is-spaced has-shadow" style="font-size: 1.1rem; background-color: #9A3334;" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('home') if not session['admin'] else url_for('admin_page')}}" style="font-size: 1.5rem;">
                        The Red Alliance
                    </a>
                    {% if scout or admin %}
                        <a href="{{ url_for('logout') }}" class="navbar-item">  
                            Logout
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        
    </header>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
