{% extends 'base.html' %}
{% block content %}

<h1 class="title is-3">Create New Scouting Form</h1>
<hr class="title-hr">

<section class="box">
    <div class="is-flex is-justify-content-center mb-4">
        <div class="field is-horizontal">
            <div class="field-label is-large">
                <label class="label">Title</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" placeholder="Title e.g. 2022 Rapid React">
                    </p>
                </div>
            </div>
    </div>
    
    </div>
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <div id="questions">
                    <!-- This is where all the added questions will go -->
                    <div class="box">
                        
                    </div>
                </div>
            </div>
        </div>
        <button id="add-question" class=" button is-info" style="width: 100%;">Add New Question</button>
        <button class="button is-primary is-large mt-4" style="width: 100%;">Create Form</button>

    </div>
</section>

{% endblock %}




