/* admin page header */
h1.title {
    margin-top: 3.5rem;
    margin-left: 12%;
}

hr.title-hr {
    margin-bottom: 5.5rem;
    margin-left: 10%;
    width: 50%;
    border: 4px solid #9A3334;
    border-radius: 6px;
}

#form-feedback {
    color: firebrick;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification {
    max-width: 25em;
}

.scout-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    font-size: 1.2em;
    transition: ease 0.1s; 
}

.scout-card:hover {
    zoom: 1.02; 
    -moz-transform: scale(1.02);
}

.scout-card .name{
    font-size: larger;
    font-weight: bold;
}

.scout-card div {
    display: inline-block;
}


.add-scout-panel {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 1.5em;
    margin-top: 0.5em;
    border-radius: 10px;
    font-size: 1.2em;
    transition: ease 0.2s; 
}

.add-scout-panel:hover {
    zoom: 1.05; 
    -moz-transform: scale(1.05);
}

.add-scout-panel input {
    width: 40%;
}
.add-scout-panel div {
    display: inline-block;
}

.progress {
    width: 60rem !important;
}

.form-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    font-size: 1.2em;
    transition: ease 0.1s; 
}

.form-card:hover {
    zoom: 1.02; 
    -moz-transform: scale(1.02);
}


  